body {
    font-family: 'Poppins', sans-serif; 
    margin: 0%;
}

.banner {
    min-height: 100vh;
    background-image: url(images/donation6.jpg);
    width: 100%;
    background-size: cover;
    background-position: 100%;
}

.main-leter {
    margin-top: 100px;
    display: inline-block;
    padding-left: 500px;
    color: white;
    text-shadow: 0 0 2px black;
    width: 50%;
    line-height: 150%;
    font-weight: 100px;
    font-size: 20px;
}

h1 {
    font-size: 60px;
    padding-bottom: 10px;
    line-height: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(green);
    background-color: tomato;
    padding: 10px 40px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 5px;
    text-align: center;
}

.second-leter {
    margin-top: 100px;
    display: inline-block;
    padding-left: 500px;
    color: rgb(10, 4, 4);
    text-shadow: 0 0 2px rgb(139, 136, 143);
    width: 50%;
    line-height: 150%;
    font-weight: 100px;
    font-size: 20px;
    padding-bottom: 80px;

}
.amount-box{
   display:inline;
    padding: 40px;
    margin-left: 90px;
    width: 40px;
    color: rgb(32, 42, 51);
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 10px 10px 40px;
    font-size: 150%;
    font-weight: 700;
    margin-bottom: 100%;
} 

#orang{
    color: coral;
    border: solid 5px;
    border-color: tomato;
}

#space{
    margin-left: 500px;
}

.donate-plan-title {
    text-align: center;
    font-size: 30px;
    padding-top: 10%;   
} 

.donate-plan-box{
    display: flex;
    margin: 40px 40px;
    text-align: left;
}

.box-n-1{
    background-color: #ffe6e6	;
    margin-right: 20px;
    padding: 50px;
    border-radius: 5px;
}

.box-n-2{
    background-color:  #a8d9ad;
    margin-right: 20px;
    padding: 50px;
    border-radius: 5px;
}

.box-n-3{
    background-color:  #bfe6f0;
    margin-right: 20px ;
    padding: 50px;
    border-radius: 10px;
}

.flaxible{
    display: flex;
    width: 100%;
}

.half-width{
    padding: 5%;
}

#bule-button{
   background-color: rgb(33, 33, 163);
}

.subscribe-section {
    
    text-align: center;
    padding-bottom: 10%;
}

input {
    text-align: center;
    padding: 10px 50px;
    margin: 0%;
    background-color:rgb(240, 234, 148) 
}

.subscribe-gmail {
    display: inline-block;
    background-color: bisque;
    padding: 80px;
}
.subscribe-button {
    color: white;
    padding: 10px 40px;
    background-color: tomato;  
}

footer{
    text-align: center;
    padding-top: 5%;
    background-color: rgb(1, 1, 17);
   height: 150px;
    width: 100% 100%  
} 

span{
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
}

.last-text{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}